@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;/*pocectno slovo svake reci je veliko*/
    transition: .2s linear;/*promena npr razvlacenje teksta i dugmeta traje 0.2 sekunde*/
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;/*1 rem = 16 pixels*/
    scroll-behavior: smooth;/*postepeno prelazenje na pocetak straince kada se klikne na logo u futeru*/
}

html::-webkit-scrollbar{
    width: 1.5rem;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 0.5rem;/*border-radio mu pravi oble ivice 0.5 rem je 8 pixela sa obe strane*/
}/*ovo je eo koda koji se odnosi na skroler sa desne strane se nalazi*/

body{
    background: rgb(0, 0, 0);
}/*boja pozadine crna*/

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:rgb(255, 255, 255);
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}/* ovo je sekcija u kojoj kada se predje preko lupice  */

.header .icons div{
    color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}


.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);/*ovde*/
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}/* ovo je sekcija u kojoj kada se klike na lupicu izadje polje za unos teksta za pretrazivanje koji se siri po y osi, 1 oznacava debljinu polja  */

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}/* ovo je sekcija za tekst u prethodno navedenoj sekciji */

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}/* za lupicu koja se klikne kada se unese tekst za pretragu, crne je boje kada se predje preko nje postan braon onHover  */

.header .search-form label:hover{
    color:var(--main-color);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: var(--main-color);
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;/*linija za precrtavanje stare cene*/
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}
.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.contact .row form .inputBox textarea{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
    resize: none;/* da ne bi mogla da se razvlaci*/
}

.footer{
    background: var(--main-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));/*rastojanje izmedju kolona*/
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
}


.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}



.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    font-size: 2rem;
    color:var(--main-color);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}/*sekcija za slicice za drstvene mreze*/












/* media queries sekcija za responzivnost */


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;/* suprotno je relative, kod absolute pozicioniranja ostale stvar ignorisu tu stvar koja je pozicionirana uz pomoc absoulte tako da ne zauzima mesto na ekranu https://youtu.be/P6UgYq3J3Qs*/
        top:9.5em; right: -100%;/*udaljeno od vrha 9.5em i od desne strane u desno jos 100 posto tako da izlazi sa leva na desno*/
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;/*koliko je udaljen od desne ivice*/
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;/*koliko je udaljen od desne ivice*/
    }

    .home{
        justify-content: center;
        text-align: center;
    }
    
    .home .content p{
        font-size: 1.5rem;
    }

}

